.photo-grid {
  width: calc(100% - 2*48px);
  max-width: 1184px;
  margin: 0 auto 92px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    gap: 16px;
    width: calc(100% - 2*24px);
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 725px) {
  .photo-grid {
    gap: 12px;
    width: calc(100% - 2*16px);
    margin-bottom: 64px;
  }
}