.lead {
  max-width: calc(100% - 148px*2);
  margin: 0 auto 92px;
  font-family: 'Inter', Arial serif;
  font-style: normal;
  color: #fff;
}

@media screen and (max-width: 1075px) {
  .lead {
    max-width: calc(100% - 48px*2);
  }
}

@media screen and (max-width: 890px) {
  .lead {
    max-width: 100%;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 725px) {
  .lead {
    margin-bottom: 64px;
  }
}