.cover__subtitle {
  max-width: 360px;
  margin: 0;
  font-weight: 400;
  font-style: 18px;
  line-height: 1.22;
  text-align: center;
}

@media screen and (max-width: 725px) {
  .cover__subtitle {
    min-width: 288px;
    font-size: 14px;
    line-height: 1.14;
  }
}