.header__logo {
  width: 176px;
  height: 52px;
  margin: 0;
  padding: 28px 0 0 48px;
}

@media screen and (max-width: 890px) {
  .header__logo {
    padding-left: 24px;
  }
}

@media screen and (max-width: 725px) {
  .header__logo {
    width: 142px;
    height: 42px;
    padding-top: 16px;
    padding-left: 16px;
  }
}