.footer__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: inherit;
  cursor: pointer;
  transition: opacity .25s;
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (max-width: 725px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}