.footer__copyright {
  margin: 0 0 24px;
  padding: 0 48px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (max-width: 890px) {
  .footer__copyright {
    padding-right: 24px;
  }
}

@media screen and (max-width: 725px) {
  .footer__copyright {
    line-height: 1;
    padding-left: 16px;
  }
}