.cover {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  color: #fff;
  margin: 0 auto 92px;
  width: calc(100% - 2*48px);
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}


@media screen and (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 725px) {
  .cover {
    margin-bottom: 64px;
  }
}